*~
#*#
*.pyc
*.pyo
*_flymake.py
/dist/
/doc/html/*
/doc/pdf/*
/doc/examples/reader/html/
/node_modules
/translations/*/LC_MESSAGES/*.mo
/translations/*.pot
/resources/translations/*.po
/lcg/export/styles/presentation-braille-local.py
/TAGS
/.ropeproject
/.project
/.pydevproject
/.settings/
/.venv/
/lcg/translations/
/lcg/resources/
