*~
*.pyc
*.pyo
*_flymake.py
/doc/html/*
/doc/pdf/*
/doc/src/index.pdf
/doc/src/structured-text.cs.html
/doc/src/structured-text.cs.pdf
/doc/src/structured-text.en.html
/doc/src/structured-text.en.pdf
/doc/examples/lcgmake-basic-reader/dest/*
/translations/*/LC_MESSAGES/*.mo
/translations/*.d
/translations/*.pot
/TAGS
/.ropeproject
/lib/lcg/export/styles/presentation-braille-local.py
/.project
/.pydevproject
/.settings/
