body { 
    background: white;
}

a:link, a:visited { color: #06d; text-decoration: none; }
a:hover   { color: #f60; text-decoration: underline; }

a.speaking-text:link, a.speaking-text:visited, a.speaking-text:hover { 
    color: #04b;
    //text-decoration: none;
}

hr.navigation { 
    display: none; 
}

div.navigation { 
    border: solid #b8bcc0;
    border-width: 1px 0;
    background: #e8ecf0;
}

div.content { 
    margin-bottom: 1.6em;
}

div.table-of-contents { 
    border: solid #b8bcc0;
    border-width: 1px 0;
    background: #f0f0f0;
    margin: 1em 0;
    padding: 3pt;
}

div.table-of-contents b { 
}

div.table-of-contents ul { 
    margin-top: 3pt;
    margin-bottom: 0;
}

div.choices { 
    margin-left: 1em;
}

form { 
}

input.answer-control { 
    padding: 0;
    font-weight: bold;
}

form.sound-control input.button { 
    background-color: #e95;
    border: black solid 1px;
    padding: 0;
    font-weight: bold;
}

input.cloze { 
    border: solid gray 1px;
    margin: 1px;
    background: #e8e8e8;
    padding: 1px;
}


.results { 
    background: #eee;
    padding: 2pt;
    border: #ccc solid 1px;
}

.results input.text, input.result { 
    border: none;
    font-size: 1em;
    background: #eee;
}

