/* Default stylesheet for an LCG generated course */

body { 
    background: white;
}

a:link    { color: #0060d0; text-decoration: none; }
a:visited { color: #0060d0; text-decoration: none; }
a:hover   { color: #ff6000; text-decoration: underline; }

div.navigation { 
    border: solid #b8bcc0;
    border-width: 1px 0;
    background: #e8ecf0;
}

div.content { 
    margin-bottom: 1.6em;
}

div.table-of-contents { 
    border: solid #b8bcc0;
    border-width: 1px 0;
    background: #f0f0f0;
    margin: 1em 0;
}

div.table-of-contents h2 { 
    margin: 3pt;
}

div.table-of-contents ul { 
    margin-top: 3pt;
    margin-bottom: 3pt;
}

input.cloze { 
    border: solid gray 1px;
    margin: 1px;
    background: #e8e8e8;
    padding: 1px;
}

input.cloze-result { 
    border: none;
}

hr.navigation { 
    display: none; 
}