/* Styles for LCG widgets implemented in widgets.py and lcg.js */

/* FoldableTree widget */

.foldable-tree-widget ul {
    display: block;
    list-style-type: none;
    padding: 0.1em 0.2em 0.1em 0.3em;
    margin: 0;
}
.foldable-tree-widget ul ul {
    padding-left: 1em;
    padding-right: 0;
}
.foldable-tree-widget li { 
    line-height: 1.2em;
    width: 100%;
}
.foldable-tree-widget li a, .foldable-tree-widget li a span {
    display: block;
    clear: both;
}
.foldable-tree-widget li a {
    cursor: default;
    padding-left: 14px;
}
.foldable-tree-widget li a span {
    cursor: pointer;
    padding: 0.1em 0;
    margin-left: 1px; /* Fix MSIE bullet display */
}
.foldable-tree-widget li a span.bullet {
    display: list-item;
    list-style-type: circle;
}
.foldable-tree-widget li a.current span {
    background-color: #ddd;
}
.foldable-tree-widget li.foldable {
    background-image: url(folder-open.png);
    background-position: left 0.35em;
    background-repeat: no-repeat;
}
.foldable-tree-widget li.foldable.folded {
    background-image: url(folder-closed.png);
}
.foldable-tree-widget li.folded ul {
    display: none;
}

.foldable-tree-widget button.toggle-menu-expansion {
    padding: 0;
    margin: 0;
    border: none;
    width: 9px;
    height: 9px;
    background-image: url(folder-closed.png);
    background-position: center;
    background-repeat: no-repeat;
}
.foldable-tree-widget button.toggle-menu-expansion.expanded {
    background-image: url(folder-open.png);
}

/* Notebook widget */

.notebook-widget ul.notebook-switcher {
    margin-top: 1.6em;
    margin-bottom: 1em;
    padding: 0.2em 0;
    border-bottom: solid #777 1px;
}
.notebook-widget li.notebook-tab {
    display: inline;
    white-space: nowrap;
    margin-left: 0.3em;
    font-size: 1.1em;
    font-weight: bold;
}
.notebook-widget li.notebook-tab a {
    border-radius: 4px 4px 0 0;
    border: solid #777 1px;
    padding: 0.2em 1em;
    background-color: #ddd;
    text-decoration: none;
}
.notebook-widget li.notebook-tab a.current {
    background-color: #fff;
    border-bottom-color: #fff;
}

/* Popup menu & Dropdown selection widget */

.popup-menu-ctrl-widget a {
    display: inline-block;
    background-image: url(popup-arrow.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 10px;
    height: 14px;
}
.popup-menu-widget, .dropdown-selection-widget {
    position: absolute;
    width: auto;
    padding: 0;
    border: 1px solid #aaa;
    z-index: 240;
}
.popup-menu-widget {
    background-color: #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 1px 1px 12px #999;
    -webkit-box-shadow: #999 1px 1px 12px;
}
.dropdown-selection-widget {
    background-color: #fff;
    border-color: #777;
    max-height: 400px;
    overflow-y: auto;
}
.popup-menu-widget ul, .dropdown-selection-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.popup-menu-widget ul li, .dropdown-selection-widget ul li {
    font-size: 12px;
    white-space: nowrap;
    min-width: 100px;
    margin: 0;
}
.popup-menu-widget li a,
.dropdown-selection-widget li a {
    display: block;
    color: #777;
    padding: 3px 10px;
    text-decoration: none;
    min-height: 14px;
}
.popup-menu-widget li.active a,
.dropdown-selection-widget li.active a {
    color: #000;
}
.popup-menu-widget li.active:hover {
    background-color: #fff;
}
.dropdown-selection-widget li.active a:focus {
    background-color: #3af;
}

.tooltip-widget {
    position: absolute;
    top: 32px;
    left: 90px;
    width: auto;
    display: none;
    background-color: #ddd;
    background-color: rgba(220, 220, 220, 0.95);
    border: 1px solid #777;
    z-index: 240;
    -moz-box-shadow: 1px 1px 12px #999;
    -webkit-box-shadow: #999 1px 1px 12px;
}

.collapsible-pane-widget .collapsible-pane-heading {
    display: button;
    font-size: 1.1em;
    padding: 0;
    padding-left: 12px;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
}

.collapsible-pane-widget.expanded .collapsible-pane-heading {
    background-image: url(pane-expanded.png);
}
.collapsible-pane-widget.collapsed .collapsible-pane-heading {
    background-image: url(pane-collapsed.png);
}
